In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from cleaning_modules import *

In [3]:
df = pd.read_csv(r"https://raw.githubusercontent.com/owid/covid-19-data/refs/heads/master/public/data/owid-covid-data.csv")

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.75,0.5,64.83,0.51,41128772,NaN,NaN,NaN,NaN

In [5]:
df.shape

(429435, 67)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  object
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 219.5+ MB

In [7]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [8]:
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea',
       'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Europe',
       'European Union (27)', 'Faroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'High-income countries', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Wales', 'Wallis and Futuna', 'Western Sahara', 'World',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
df = df[~df["location"].isin(["World","Europe","North America","South America","Asia","Africa"])]
df['date'] = pd.to_datetime(df['date'])

In [10]:
country_nan_percentage(df, "location", target_col="new_deaths")

Northern Cyprus : 100.00%
Northern Ireland : 100.00%
Western Sahara : 100.00%
Wales : 100.00%
England : 100.00%
Scotland : 100.00%
Taiwan : 100.00%
Hong Kong : 100.00%
Macao : 100.00%
High-income countries : 44.68%
European Union (27) : 44.64%
Upper-middle-income countries : 44.44%
Lower-middle-income countries : 43.88%
Low-income countries : 38.55%
East Timor : 37.72%
France : 23.89%
Spain : 23.42%
Germany : 23.42%
Faroe Islands : 19.05%
Lithuania : 0.59%
Malaysia : 0.59%
India : 0.48%
Estonia : 0.48%
Czechia : 0.48%
New Zealand : 0.42%
Oceania : 0.42%
Mexico : 0.24%
Argentina : 0.24%
Italy : 0.18%
Thailand : 0.12%
Guadeloupe : 0.06%
Chile : 0.06%
Papua New Guinea : 0.06%
Australia : 0.06%
Bonaire Sint Eustatius and Saba : 0.06%
Indonesia : 0.06%
Panama : 0.06%
China : 0.06%
Sierra Leone : 0.06%
Canada : 0.06%
Reunion : 0.06%
Portugal : 0.00%
Nepal : 0.00%
Romania : 0.00%
Moldova : 0.00%
Paraguay : 0.00%
Mayotte : 0.00%
Peru : 0.00%
Qatar : 0.00%
Micronesia (country) : 0.00%
Philippines : 0.00%
Pitcairn : 0.00%
Nauru : 0.00%
Poland : 0.00%
Puerto Rico : 0.00%
Namibia : 0.00%
Nicaragua : 0.00%
Netherlands : 0.00%
Monaco : 0.00%
Palestine : 0.00%
Nigeria : 0.00%
Niue : 0.00%
North Korea : 0.00%
Morocco : 0.00%
North Macedonia : 0.00%
Montserrat : 0.00%
Russia : 0.00%
Montenegro : 0.00%
Northern Mariana Islands : 0.00%
Norway : 0.00%
Mongolia : 0.00%
New Caledonia : 0.00%
Oman : 0.00%
Myanmar : 0.00%
Pakistan : 0.00%
Palau : 0.00%
Niger : 0.00%
Mozambique : 0.00%
Saint Vincent and the Grenadines : 0.00%
Rwanda : 0.00%
Syria : 0.00%
Tanzania : 0.00%
Togo : 0.00%
Tokelau : 0.00%
Tonga : 0.00%
Trinidad and Tobago : 0.00%
Tunisia : 0.00%
Turkey : 0.00%
Turkmenistan : 0.00%
Turks and Caicos Islands : 0.00%
Tuvalu : 0.00%
Uganda : 0.00%
Ukraine : 0.00%
United Arab Emirates : 0.00%
United Kingdom : 0.00%
United States : 0.00%
United States Virgin Islands : 0.00%
Uruguay : 0.00%
Uzbekistan : 0.00%
Vanuatu : 0.00%
Vatican : 0.00%
Venezuela : 0.00%
Vietnam : 0.00%
Wallis and Futuna : 0.00%
Yemen : 0.00%
Zambia : 0.00%
Tajikistan : 0.00%
Switzerland : 0.00%
Saint Barthelemy : 0.00%
Sweden : 0.00%
Saint Helena : 0.00%
Saint Kitts and Nevis : 0.00%
Saint Lucia : 0.00%
Saint Martin (French part) : 0.00%
Saint Pierre and Miquelon : 0.00%
Mauritania : 0.00%
Samoa : 0.00%
San Marino : 0.00%
Sao Tome and Principe : 0.00%
Saudi Arabia : 0.00%
Senegal : 0.00%
Serbia : 0.00%
Seychelles : 0.00%
Singapore : 0.00%
Sint Maarten (Dutch part) : 0.00%
Slovakia : 0.00%
Slovenia : 0.00%
Solomon Islands : 0.00%
Somalia : 0.00%
South Africa : 0.00%
South Korea : 0.00%
South Sudan : 0.00%
Sri Lanka : 0.00%
Sudan : 0.00%
Suriname : 0.00%
Mauritius : 0.00%
Afghanistan : 0.00%
Martinique : 0.00%
Marshall Islands : 0.00%
Burundi : 0.00%
Cambodia : 0.00%
Cameroon : 0.00%
Cape Verde : 0.00%
Cayman Islands : 0.00%
Central African Republic : 0.00%
Chad : 0.00%
Colombia : 0.00%
Comoros : 0.00%
Congo : 0.00%
Cook Islands : 0.00%
Costa Rica : 0.00%
Cote d'Ivoire : 0.00%
Croatia : 0.00%
Cuba : 0.00%
Curacao : 0.00%
Cyprus : 0.00%
Democratic Republic of Congo : 0.00%
Denmark : 0.00%
Djibouti : 0.00%
Dominica : 0.00%
Dominican Republic : 0.00%
Ecuador : 0.00%
Egypt : 0.00%
El Salvador : 0.00%
Burkina Faso : 0.00%
Bulgaria : 0.00%
Brunei : 0.00%
Bahrain : 0.00%
Algeria : 0.00%
American Samoa : 0.00%
Andorra : 0.00%
Angola : 0.00%
Anguilla : 0.00%
Antigua and Barbuda : 0.00%
Armenia : 0.00%
Aruba : 0.00%
Austria : 0.00%
Azerbaijan : 0.00%
Bahamas : 0.00%
Bangladesh : 0.00%
British Virgin Islands : 0.00%
Barbados : 0.00%
Belarus : 0.00%
Belgium : 0.00%
Belize : 0.00%
Benin : 0.00%
Bermuda : 0.00%
Bhutan : 0.00%
Bolivia : 0.00%
Bosnia and Herzegovina : 0.00%
Botswana : 0.00%
Brazil : 0.00%
Equatorial Guinea : 0.00%
Eritrea : 0.00%
Eswatini : 0.00%
Latvia : 0.00%
Jamaica : 0.00%
Japan : 0.00%
Jersey : 0.00%
Jordan : 0.00%
Kazakhstan : 0.00%
Kenya : 0.00%
Kiribati : 0.00%
Kosovo : 0.00%
Kuwait : 0.00%
Kyrgyzstan : 0.00%
Laos : 0.00%
Lebanon : 0.00%
Isle of Man : 0.00%
Lesotho : 0.00%
Liberia : 0.00%
Libya : 0.00%
Liechtenstein : 0.00%
Albania : 0.00%
Luxembourg : 0.00%
Madagascar : 0.00%
Malawi : 0.00%
Maldives : 0.00%
Mali : 0.00%
Malta : 0.00%
Israel : 0.00%
Ireland : 0.00%
Ethiopia : 0.00%
Greenland : 0.00%
Falkland Islands : 0.00%
Fiji : 0.00%
Finland : 0.00%
French Guiana : 0.00%
French Polynesia : 0.00%
Gabon : 0.00%
Gambia : 0.00%
Georgia : 0.00%
Ghana : 0.00%
Gibraltar : 0.00%
Greece : 0.00%
Grenada : 0.00%
Iraq : 0.00%
Guam : 0.00%
Guatemala : 0.00%
Guernsey : 0.00%
Guinea : 0.00%
Guinea-Bissau : 0.00%
Guyana : 0.00%
Haiti : 0.00%
Honduras : 0.00%
Hungary : 0.00%
Iceland : 0.00%
Iran : 0.00%
Zimbabwe : 0.00%

In [11]:
columns_nan_percentage(df)

weekly_icu_admissions                      97.378631
weekly_icu_admissions_per_million          97.378631
excess_mortality_cumulative_per_million    96.802039
excess_mortality                           96.802039
excess_mortality_cumulative                96.802039
                                             ...
continent                                   3.922873
population                                  0.000000
date                                        0.000000
location                                    0.000000
iso_code                                    0.000000
Length: 67, dtype: float64

In [12]:
keep_country = []
for col in df["location"].unique():
    size = df.loc[df["location"] == col, "new_deaths"].shape[0]
    nan_size = df.loc[df["location"] == col, "new_deaths"].isna().sum()
    if (nan_size / size) * 100 < 20:
        keep_country.append(col)

print(" - ".join(keep_country))

Afghanistan - Albania - Algeria - American Samoa - Andorra - Angola - Anguilla - Antigua and Barbuda - Argentina - Armenia - Aruba - Australia - Austria - Azerbaijan - Bahamas - Bahrain - Bangladesh - Barbados - Belarus - Belgium - Belize - Benin - Bermuda - Bhutan - Bolivia - Bonaire Sint Eustatius and Saba - Bosnia and Herzegovina - Botswana - Brazil - British Virgin Islands - Brunei - Bulgaria - Burkina Faso - Burundi - Cambodia - Cameroon - Canada - Cape Verde - Cayman Islands - Central African Republic - Chad - Chile - China - Colombia - Comoros - Congo - Cook Islands - Costa Rica - Cote d'Ivoire - Croatia - Cuba - Curacao - Cyprus - Czechia - Democratic Republic of Congo - Denmark - Djibouti - Dominica - Dominican Republic - Ecuador - Egypt - El Salvador - Equatorial Guinea - Eritrea - Estonia - Eswatini - Ethiopia - Faroe Islands - Falkland Islands - Fiji - Finland - French Guiana - French Polynesia - Gabon - Gambia - Georgia - Ghana - Gibraltar - Greece - Greenland - Grenada - Guadeloupe - Guam - Guatemala - Guernsey - Guinea - Guinea-Bissau - Guyana - Haiti - Honduras - Hungary - Iceland - India - Indonesia - Iran - Iraq - Ireland - Isle of Man - Israel - Italy - Jamaica - Japan - Jersey - Jordan - Kazakhstan - Kenya - Kiribati - Kosovo - Kuwait - Kyrgyzstan - Laos - Latvia - Lebanon - Lesotho - Liberia - Libya - Liechtenstein - Lithuania - Luxembourg - Madagascar - Malawi - Malaysia - Maldives - Mali - Malta - Marshall Islands - Martinique - Mauritania - Mauritius - Mayotte - Mexico - Micronesia (country) - Moldova - Monaco - Mongolia - Montenegro - Montserrat - Morocco - Mozambique - Myanmar - Namibia - Nauru - Nepal - Netherlands - New Caledonia - New Zealand - Nicaragua - Niger - Nigeria - Niue - North Korea - North Macedonia - Northern Mariana Islands - Norway - Oceania - Oman - Pakistan - Palau - Palestine - Panama - Papua New Guinea - Paraguay - Peru - Philippines - Pitcairn - Poland - Portugal - Puerto Rico - Qatar - Reunion - Romania - Russia - Rwanda - Saint Barthelemy - Saint Helena - Saint Kitts and Nevis - Saint Lucia - Saint Martin (French part) - Saint Pierre and Miquelon - Saint Vincent and the Grenadines - Samoa - San Marino - Sao Tome and Principe - Saudi Arabia - Senegal - Serbia - Seychelles - Sierra Leone - Singapore - Sint Maarten (Dutch part) - Slovakia - Slovenia - Solomon Islands - Somalia - South Africa - South Korea - South Sudan - Sri Lanka - Sudan - Suriname - Sweden - Switzerland - Syria - Tajikistan - Tanzania - Thailand - Togo - Tokelau - Tonga - Trinidad and Tobago - Tunisia - Turkey - Turkmenistan - Turks and Caicos Islands - Tuvalu - Uganda - Ukraine - United Arab Emirates - United Kingdom - United States - United States Virgin Islands - Uruguay - Uzbekistan - Vanuatu - Vatican - Venezuela - Vietnam - Wallis and Futuna - Yemen - Zambia - Zimbabwe

In [13]:
keep_columns = [
    'continent', 'location', 'date',
    'total_cases', 'new_cases', 'total_deaths', 'new_deaths', 'population', 'population_density'
]

In [14]:
df_filtered = df.loc[df["location"].isin(keep_country) , keep_columns]
df_filtered.sort_values(by=['location', 'date'], ascending=[True, True], inplace=True)
df_filtered

,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,population,population_density
0,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,41128772,54.42
1,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,41128772,54.42
2,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,41128772,54.42
3,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,41128772,54.42
4,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,41128772,54.42
...,...,...,...,...,...,...,...,...,...
429430,Africa,Zimbabwe,2024-07-31,266386.0,0.0,5740.0,0.0,16320539,42.73
429431,Africa,Zimbabwe,2024-08-01,266386.0,0.0,5740.0,0.0,16320539,42.73
429432,Africa,Zimbabwe,2024-08-02,266386.0,0.0,5740.0,0.0,16320539,42.73
429433,Africa,Zimbabwe,2024-08-03,266386.0,0.0,5740.0,0.0,16320539,42.73
429434,Africa,Zimbabwe,2024-08-04,266386.0,0.0,5740.0,0.0,16320539,42.73

In [15]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 387158 entries, 0 to 429434
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   continent           385477 non-null  object
 1   location            387158 non-null  object
 2   date                387158 non-null  datetime64[ns]
 3   total_cases         386694 non-null  float64
 4   new_cases           386233 non-null  float64
 5   total_deaths        386694 non-null  float64
 6   new_deaths          386682 non-null  float64
 7   population          387158 non-null  int64
 8   population_density  348649 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 29.5+ MB

In [17]:
df_filtered.columns = ['continent', 'country', 'date',
                       'total_cases', 'new_cases','total_deaths',
                       'new_deaths', 'population', 'population_density']

In [19]:
df_filtered[(df_filtered['new_deaths'].isna()) & (df_filtered['new_cases'].isna())]

,continent,country,date,total_cases,new_cases,total_deaths,new_deaths,population,population_density
15066,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,45510324,16.18
15067,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,45510324,16.18
15068,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,45510324,16.18
15069,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,45510324,16.18
93758,Europe,Czechia,2024-08-05,NaN,NaN,NaN,NaN,10493990,137.18
...,...,...,...,...,...,...,...,...,...
289295,NaN,Oceania,2024-08-08,NaN,NaN,NaN,NaN,45038860,NaN
289296,NaN,Oceania,2024-08-09,NaN,NaN,NaN,NaN,45038860,NaN
289297,NaN,Oceania,2024-08-10,NaN,NaN,NaN,NaN,45038860,NaN
289298,NaN,Oceania,2024-08-11,NaN,NaN,NaN,NaN,45038860,NaN
379000,Asia,Thailand,2020-01-04,NaN,NaN,NaN,NaN,71697024,135.13

In [22]:
df_filtered.dropna(subset=['new_cases','new_deaths'],how = "all", inplace=True)
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 386694 entries, 0 to 429434
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   continent           385020 non-null  object
 1   country             386694 non-null  object
 2   date                386694 non-null  datetime64[ns]
 3   total_cases         386694 non-null  float64
 4   new_cases           386233 non-null  float64
 5   total_deaths        386694 non-null  float64
 6   new_deaths          386682 non-null  float64
 7   population          386694 non-null  int64
 8   population_density  348192 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 29.5+ MB

In [23]:
df_filtered.columns

Index(['continent', 'country', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'population', 'population_density'],
      dtype='object')

In [25]:
to_numeric_func(df_filtered, ['total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'population', 'population_density'])

set_dtypes(df_filtered,df_filtered.columns)
df_filtered.info()

total_cases â†’ UInt32
<class 'pandas.core.frame.DataFrame'>
Index: 386694 entries, 0 to 429434
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   continent           385020 non-null  object
 1   country             386694 non-null  object
 2   date                386694 non-null  datetime64[ns]
 3   total_cases         386694 non-null  UInt32
 4   new_cases           386233 non-null  float64
 5   total_deaths        386694 non-null  float64
 6   new_deaths          386682 non-null  float64
 7   population          386694 non-null  int64
 8   population_density  348192 non-null  float64
dtypes: UInt32(1), datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 28.4+ MB

In [26]:
grouped_df = df_filtered.groupby("country")['new_deaths'].sum()
grouped_df

country
Afghanistan           7998.0
Albania               3605.0
Algeria               6881.0
American Samoa          34.0
Andorra                159.0
                      ...
Vietnam              43206.0
Wallis and Futuna        9.0
Yemen                 2159.0
Zambia                4077.0
Zimbabwe              5740.0
Name: new_deaths, Length: 231, dtype: float64

In [27]:
grouped_df = df_filtered.groupby("continent")['new_deaths'].sum()
grouped_df

continent
Africa            259121.0
Asia             1637197.0
Europe           1637561.0
North America    1671512.0
Oceania            33024.0
South America    1357619.0
Name: new_deaths, dtype: float64

In [28]:
df_filtered.loc[df_filtered["continent"] == "Oceania","country"].unique()

array(['American Samoa', 'Australia', 'Cook Islands', 'Fiji',
       'French Polynesia', 'Guam', 'Kiribati', 'Marshall Islands',
       'Micronesia (country)', 'Nauru', 'New Caledonia', 'New Zealand',
       'Niue', 'Northern Mariana Islands', 'Palau', 'Papua New Guinea',
       'Pitcairn', 'Samoa', 'Solomon Islands', 'Tokelau', 'Tonga',
       'Tuvalu', 'Vanuatu', 'Wallis and Futuna'], dtype=object)

In [29]:
df_filtered.to_csv("G:\CovidDataset\Data\covid-data(cleaned).csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\asus\AppData\Local\Temp\ipykernel_31352\1546000697.py:1: SyntaxWarning: invalid escape sequence '\C'
  df_filtered.to_csv("G:\CovidDataset\Data\covid-data(cleaned).csv", index=False)